@model List<InstaBotProjeFramework.Data.DTOs.FeatureDTO>

@if (Model != null)
{
    foreach (var item in Model)
    {
        var url = !string.IsNullOrEmpty(item.FeatureSeoName) ? string.Format("{0}?featureId={1}", item.FeatureSeoName, item.FeatureId) : string.Empty;
        <li class="nav-item">
            <a href="@Html.Raw(url)" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">@item.FeatureTitle</p>
            </a>
        </li>
    }
}
