@model InstaBotProjeFramework.Data.DTOs.UserDTO
<div class="image">
    <img src="@Model.Picture" class="img-circle elevation-2" alt="User Image">
</div>
<div class="info">
    <a href="/User/Index" class="d-block">@Model.Username</a>
</div>